* {
    box-sizing: border-box;
    margin: 0; 
    padding: 0; 
}

:root{
    --dark-blue:#211C75;
    --blue:#351FB7;
    --purple:#9E7BEE;
    --mint:#88E2C1;
    --yellow:#FFFB96;
    --rose:#E25F7B;
    --white: #FFFFFF;
    --black:#000000;



    --radius:24px;

  }





.card--mint{ background:var(--mint); }
.card--yellow{ background:var(--yellow); }
.card--rose{ background:var(--rose); }
.card span{ margin-top:.5rem; }
